* {
	scrollbar-color: currentColor transparent;
	scrollbar-width: thin;
}

html {
	--bg-color: white;
	--bg-color-alt: #F7F7F7;
	--bg-color-hover: #09F;
	--fg-color: black;
	--fg-color-hover: white;
	--highlight0: #F8F8F8;
	--highlight1: #E5E5E5;
	--highlight2: #BBB;
	background-color: var(--bg-color);
	color: var(--fg-color);
	overflow-y: scroll;
	color-scheme: light dark;
}

html.dark {
	--bg-color: #444;
	--bg-color-alt: #333;
	--fg-color: white;
	--highlight0: #494949;
	--highlight1: #555;
	--highlight2: #777;
}

body {
	font-family: Nunito, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1100px;
}

h1 {
	margin: 9px 0 0;
	letter-spacing: -1px;
}

h1 + p {
	margin-top: 3px;
}

h1, h2, .center {
	text-align: center;
}

code {
	font-family: Consolas, Menlo, 'Roboto Mono', monospace;
	font-size: inherit;
}

a {
	color: #09F;
}

input, select {
	font: inherit;
	background: transparent;
	color: inherit;
	border: 1px solid var(--highlight2);
}

button, .btn {
	color: inherit;
	background-image: linear-gradient(transparent, #0001);
	background-color: transparent;
	border: 1px solid #0002;
	padding: 3px 12px;
	border-radius: 2px;
	min-width: 2em;
	font: inherit;
	cursor: pointer;
	box-shadow: 0 1px 2px #0002;

	&:hover {
		border-color: #0004;
		background-image: linear-gradient(#0001, #0002);

		&.danger {
			background-color: maroon;
			color: #fff;
		}
	}
}

.info {
	background-color: #0002;
	padding: 6px;
	border-radius: 3px;
}

.year-input {
	width: 5ch;
	text-align: center;
	appearance: textfield;
	border-radius: 2px;
	box-shadow: inset 0 0 2px #0006;
}

.calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -1em;
}

.month {
	margin: 1em;
}

.controls {
	margin: .5em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.controls > * {
	margin: .5em 3px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid var(--highlight1);
	padding: .2em .4em;
}

td.month {
	text-align: center;
	font-weight: bold;
	border-color: cornflowerblue;
}

td.date {
	text-align: right;
}

td.date {
	cursor: pointer;
	position: relative;
}

.week-num {
	cursor: pointer;
	text-align: right;
	font-size: .8em;
}

.weekend {
	background-color: var(--highlight1);
}

.today {
	outline: 3px solid crimson;
	z-index: 3;
}

.diff-month {
	opacity: .4;
	visibility: hidden;
}

.ghosts .diff-month {
	visibility: visible;
}

.mark {
	color: white;
}

.mark-coral {
	background: coral;
}

.mark-deeppink {
	background: deeppink;
}

.mark-green {
	background: green;
}

.mark-purple {
	background: purple;
}

td.date.drag-start {
	outline: 3px solid #07f;
	z-index: 4;
}

td.vsep, td.hsep {
	border: none;
}

.bubble {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: gray;
	position: absolute;
	left: 3px;
}

.bubble.fixed-holiday {
	background-color: red;
}

.bubble.optional-holiday {
	background-color: #F90;
}

.settings {
	margin: 1em;
	padding: 3px;
	display: flex;
	justify-content: center;
}

.settings > * {
	margin: 0 .5em;
}

.popup {
	background-color: var(--bg-color-alt);
	display: none;
}

.popup.show {
	display: block;
}

.date-list {
	background-color: transparent;
	color: inherit;
	font: inherit;
	border: none;
	padding: 6px;
}

.date-list:focus {
	outline: none;
}

.hl-pink {
	background-color: #F09;
	color: white;
}

.hl-green {
	background-color: #0F9;
}

svg {
	width: 1.3em;
	height: 1.3em;
	vertical-align: middle;
}

.color-selector {
	display: flex;
	align-items: center;

	& > :first-child {
		margin-right: 6px;
	}

	& svg {
		cursor: pointer;
	}

	& > label {
		display: inline-flex;
	}

	& input[type=radio] {
		display: none;
	}

	@nest .cmenu & {
		padding: 6px 12px;
	}
}

.cmenu {
	position: absolute;
	box-shadow: 0 3px 42px #0008;
	z-index: 5;
	font-size: .9em;
	margin-left: 1px;
	border-radius: 0 3px 3px;
	overflow: hidden;
}

.cmenu a {
	text-decoration: none;
	color: inherit;
	padding: 6px 12px;
	display: block;
}

.cmenu a:hover {
	background-color: var(--bg-color-hover);
	color: var(--fg-color-hover);
}

.has-cmenu {
	z-index: 8;
	background: var(--bg-color-alt);
	color: var(--fg-color);
}

.dialog {
	display: block;
	position: fixed;
	background-color: var(--bg-color-alt);
	box-shadow: 6px 6px 36px #0005;
	padding: 1em;
	border-radius: 6px;
	top: 2em;
	left: 50%;
	transform: translateX(-50%);
	max-height: calc(100vh - 6em);
	overflow: auto;

	& .info {
		max-width: 360px;
	}

	@media (width <= 600px) {
		left: 0;
		right: 0;
		border-radius: 0;
		transform: none;
	}
}

.help-dialog {
	left: 2em;
	transform: none;
}

footer {
	text-align: center;
	border-top: 1px solid var(--highlight1);
	margin: 3em 0;
	font-size: .9em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer p {
	margin: .5em 0 1em;
}

.drag-date-period {
	position: fixed;
	display: block;
	pointer-events: none;
	background: var(--fg-color);
	color: var(--bg-color);
	padding: 3px 9px;
	border-radius: 3px;
	box-shadow: 0 0 9px #0009;
	z-index: 9;
	list-style: none;
	transform: translateY(12px);
}

.drag-date-period.up {
	transform: translateY(-100%) translateY(-24px);
}

.close-btn {
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
	border-radius: 50%;
	background: none;
	border: none;

	&:hover {
		color: #f20;
		background: none;
	}
}

.storage-info {
	position: fixed;
	bottom: 6px;
	right: 6px;
	background-color: #07f;
	color: #fff;
	border-radius: 3px;
	max-width: 400px;

	&.open {
		box-shadow: 0 0 96px #0005;
	}

	& a.summary {
		padding: 3px 6px;
		text-decoration: none;
		display: flex;
		place-items: center;

		& :not(:first-child) {
			margin-left: 6px;
		}
	}

	& a {
		color: inherit;
	}

	& p {
		margin: 1em;
	}

	@media only print {
		display: none;
	}
}

.color-change-osd {
	position: fixed;
	top: 1em;
	right: 1em;
	background-color: var(--bg-color-alt);
	padding: 1em;
	border-radius: 6px;
	box-shadow: 12px 12px 72px #0005;
	animation: toast .2s;
}

@keyframes toast {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@media only screen {

	.print {
		display: none;
	}

	h2 {
		margin: 1em 0 6px;
	}

	hr {
		border: none;
		border-top: 1px solid currentColor;
	}

}

@media only print {

	.screen, .dialog {
		display: none;
	}

	h1 {
		font-size: 21pt;
		margin: .3in -.5in 0;
	}

	h2 {
		font-size: 18pt;
		margin: .1in 0;
	}

	h1:not(:first-child) {
		page-break-before: always;
	}

	body[data-print-layout="2"] {
		font-size: 14pt;
	}

	body[data-print-layout="3"] {
		font-size: 16pt;
	}

	body[data-print-layout="4"] {
		font-size: 16pt;
	}

	body[data-print-layout="6"] {
		font-size: 21pt;
	}

	body[data-print-layout="12"] {
		font-size: 30pt;
	}

	.calendar {
		/* Unfortunately, `flex` display screws up print layouts 10x. */
		display: block;
		text-align: center;
	}

	.today {
		outline: none;
	}

	.month {
		margin: .4em 1.2em;
		display: inline-block;
		page-break-inside: avoid;
	}

	.weekend {
		background: none;
	}

	hr {
		visibility: hidden;
	}

}

.flash {
	animation: flash .4s;
}
@keyframes flash {
	0% {
		transform: scale(1);
		outline: 0 solid red;
		box-shadow: 0 0 0 #0008;
	}
	50% {
		transform: scale(3);
		outline: 2px solid red;
		box-shadow: 0 0 12px #0008;
	}
	100% {
		transform: scale(1);
		outline: 0 solid red;
		box-shadow: 0 0 0 #0008;
	}
}
