:root {
	--bg-color: white;
	--bg-color-alt: #F7F7F7;
	--bg-color-hover: #09F;
	--fg-color: black;
	--fg-color-hover: white;
	--highlight0: #F8F8F8;
	--highlight1: #E5E5E5;
	--highlight2: #BBB;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: Lato, serif;
	font-size: 18px;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1100px;
}

code {
	font-family: Consolas, Menlo, 'Roboto Mono', monospace;
	font-size: inherit;
}

.dark {
	--bg-color: #444;
	--bg-color-alt: #333;
	--fg-color: white;
	--highlight0: #494949;
	--highlight1: #555;
	--highlight2: #777;
}

a {
	color: #09F;
}

input {
	font: inherit;
	background: transparent;
	color: inherit;
	border: 1px solid var(--highlight2);
}

button, .btn {
	color: inherit;
	background-image: linear-gradient(var(--bg-color), var(--bg-color-alt));
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 3px 12px;
	border-radius: 2px;
	min-width: 2em;
	font: inherit;
	cursor: pointer;
}

button:hover, .btn:hover {
	border-color: rgba(0, 0, 0, .5);
}

#yearInput {
	width: 5em;
}

.calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calendar + .calendar {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.month {
	margin: 1em;
}

.controls {
	margin: 1em 0 0;
	display: flex;
	justify-content: center;
}

.controls > * {
	margin: 0 3px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid var(--highlight1);
	padding: 3px 6px;
}

td.month {
	text-align: center;
	font-weight: bold;
	border-color: cornflowerblue;
}

td.date {
	text-align: right;
}

td.date {
	cursor: pointer;
	position: relative;
}

.weekend {
	background-color: var(--highlight1);
}

.today {
	outline: 3px solid crimson;
	z-index: 3;
}

.diff-month {
	opacity: .4;
	visibility: hidden;
}

.ghosts .diff-month {
	visibility: visible;
}

.mark {
	color: white;
}

td.vsep, td.hsep {
	border: none;
}

.bubble {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: gray;
	position: absolute;
	left: 3px;
}

.bubble.fixed-holiday {
	background-color: red;
}

.bubble.optional-holiday {
	background-color: #F90;
}

.settings {
	margin: 1em;
	padding: 3px;
	display: flex;
	justify-content: center;
}

.settings > * {
	margin: 0 .5em;
}

.popup {
	background-color: var(--bg-color-alt);
	display: none;
}

.popup.show {
	display: block;
}

#highlights.show {
	position: fixed;
	top: 40px;
	left: 40px;
	border-radius: 6px;
	border: 1px solid var(--highlight1);
	box-shadow: 0 6px 24px rgba(0, 0, 0, .3);
	display: flex;
}

#highlights aside {
	padding: 1em 0;
	border-right: 1px solid var(--highlight1);
}

#highlights a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 6px;
	min-width: 96px;
}

#highlights a:hover, #highlights a.active {
	background: var(--highlight1);
}

.date-list {
	background-color: transparent;
	color: inherit;
	font: inherit;
	border: none;
	padding: 6px;
}

.date-list:focus {
	outline: none;
}

.hl-pink {
	background-color: #F09;
	color: white;
}

.hl-green {
	background-color: #0F9;
}

#color-selector {
	position: fixed;
	top: 20px;
	right: 0;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #999;
	opacity: .6;
}

#color-selector:hover {
	opacity: 1;
}

#color-selector .color {
	border-radius: 1em;
	width: 18px;
	height: 18px;
	padding: 2px;
	display: block;
	margin: 9px 6px;
}

#color-selector .color:hover {
	background: inherit;
}

#color-selector .color.active {
	box-shadow: 0 0 0 2px white, 0 0 0 4px hsl(0, 0%, 0%);
}

#cmenu.show {
	position: absolute;
	box-shadow: 0 3px 40px rgba(0, 0, 0, .8);
	z-index: 5;
	font-size: .9em;
	margin-left: 1px;
}

#cmenu a {
	text-decoration: none;
	color: inherit;
	padding: 6px 12px;
	display: block;
}

#cmenu a:hover {
	background-color: var(--bg-color-hover);
	color: var(--fg-color-hover);
}

.has-cmenu {
	z-index: 8;
	background-color: var(--bg-color-alt);
}

#help-dialog {
	display: none;
	position: fixed;
	top: 3em;
	left: 3em;
	background-color: var(--bg-color-alt);
	box-shadow: 6px 6px 36px var(--highlight1);
	padding: 1em;
	border-radius: 6px;
}

#help-dialog.open {
	display: block;
}

footer {
	text-align: center;
	border-top: 1px solid var(--highlight1);
	margin-top: 3em;
	opacity: .8;
	font-size: .9em;
	display: flex;
	justify-content: space-between;
}

footer p {
	margin: .5em 0 1em;
}

@media only screen {

	h1 {
		margin-top: 0;
		text-align: center;
		letter-spacing: -1px;
	}

	.print {
		display: none;
	}

}

@media only print {

	.screen {
		display: none;
	}

	h1 {
		font-size: 21pt;
		margin: .3in -.5in 0;
		text-align: center;
	}

	#color-selector, .controls, .settings, footer {
		display: none;
	}

	.today {
		outline: none;
	}

	.month {
		margin: .7em;  /* So all months fit in a single A4 page. */
	}

	.month .year {
		display: none;
	}

}
